!!! 5
%html
  %head
    %meta{:name => 'pdfkit-header_html', :content => name_business_pdf_index_url(@business, :protocol => 'http') }
    %meta{:name => 'pdfkit-footer_html', :content => footer_business_pdf_index_url(@business, :protocol => 'http') }
    %meta{:name => 'pdfkit-margin_top', :content => '1.5in' }
    %meta{:name => 'pdfkit-header_spacing', :content => '8' }
  %body
    .container-wrapper
      %h2.sub_title List of Employees
      %table.table
        %thead
          %tr
            %th Number
            %th Name
            %th Start Date
            %th Status
        %tbody
        - @employees.each do |employee|
          %tr
            %td
              =employee.employee_number
            %td
              =employee.name
            %td
              =employee.start_date
            %td= employee.status